<!DOCTYPE html>
<html>
<head>
	<title>task</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="jumbotron" style="text-align: center;">
			<h2>Zoo Animals Predictor</h1>
		</div>
		<h1>Lets Identify Animal Class</h1>
<h2>Data Set Information</h2>
<h3>class# -- Set of animals:</h3>
<ul>
  <li>Class 1:  aardvark, antelope, bear, boar, buffalo, calf, cavy, cheetah, deer, dolphin, elephant, fruitbat, giraffe, girl, goat, gorilla, hamster, hare, leopard, lion, lynx, mink, mole, mongoose, opossum, oryx, platypus, polecat, pony, porpoise, puma, pussycat, raccoon, reindeer, seal, sealion, squirrel, vampire, vole, wallaby,wolf </li>
  <li>Class 2:  chicken, crow, dove, duck, flamingo, gull, hawk, kiwi, lark, ostrich, parakeet, penguin, pheasant, rhea, skimmer, skua, sparrow, swan, vulture, wren </li>
  <li>Class 3:  pitviper, seasnake, slowworm, tortoise, tuatara </li>
  <li>Class 4:  bass, carp, catfish, chub, dogfish, haddock, herring, pike, piranha, seahorse, sole, stingray, tuna </li>
  <li>Class 5:  frog, frog, newt, toad </li>
  <li>Class 6:  flea, gnat, honeybee, housefly, ladybird, moth, termite, wasp </li>
  <li>Class 7:  clam, crab, crayfish, lobster, octopus, scorpion, seawasp, slug, starfish, worm</li>
</ul>
		{% block body %}{% endblock %}
	</div>
</body>
</html>